form.add.form-inline {
	margin-top: 50px;
    margin-bottom: 50px;
}

form.fetch.form-inline {
	margin-top: 50px;
    margin-bottom: 50px;
}

body{
	margin: 50px;
}

button#save {
    margin-left: 20px;
}

button#fetch {
    margin-left: 20px;
}
